/vendor
/node_modules
/public/storage
/storage/*.key
.env
.idea
.DS_Store
npm-debug.log
yarn-error.log
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
/storage/app/firebase/ewan-geniuses-firebase-adminsdk-fbsvc-0a7a1f0b5c.json
